gruvid_api_console.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
   <resources base="http://gruvid.herokuapp.com">
      
      <!-- ##################### AUTHENTICATION ##################### -->
      
      <!-- sign_up -->
      <resource path="/users/sign_up">
         <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="Accept" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="email" required="true" type="xsd:string" style="query" />
         <param name="password" required="false" type="xsd:string" style="query" />
         <param name="name" required="false" type="xsd:string" style="query" />
         <param name="first_name" required="false" type="xsd:string" style="query" />
         <param name="last_name" required="false" type="xsd:string" style="query" />
         <param name="date_of_birth" required="false" type="xsd:date" style="query" />
         <param name="photo_url" required="false" type="xsd:string" style="query" />
         <param name="gender" required="false" type="xsd:string" style="query" />
         <param name="locale" required="false" type="xsd:string" style="query" />
         <param name="fb_id" required="false" type="xsd:string" style="query" />
         
         <param name="device_uid" required="false" type="xsd:string" style="query" />
         <param name="device_brand" required="false" type="xsd:string" style="query" />
         <param name="device_model" required="false" type="xsd:string" style="query" />
         <param name="device_os" required="false" type="xsd:string" style="query" />
         <param name="device_app_version" required="false" type="xsd:string" style="query" />
         <param name="device_mobile_number" required="false" type="xsd:string" style="query" />
         <param name="device_ip" required="false" type="xsd:string" style="query" />
         <param name="device_location" required="false" type="xsd:string" style="query" />
         <method id="signup" name="GET" apigee:displayName="Sign Up">
            <apigee:tags>
               <apigee:tag primary="true">Authentication</apigee:tag>
            </apigee:tags>
            <doc apigee:url="http://api.mydomain.com/doc/my-method">sign_up</doc>
         </method>
      </resource>
      
      <!-- login -->
      <resource path="/users/sign_in">
         <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="Accept" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="email" required="true" type="xsd:string" style="query" default="user1@example.com" />
         <param name="password" required="false" type="xsd:string" style="query" default="gruvidgruvid" />
         <param name="auth_token" required="false" type="xsd:string" style="query" default="kZz88RuBL5t5coJfitpR" />
         <method id="login" name="GET" apigee:displayName="Login">
            <apigee:tags>
               <apigee:tag primary="true">Authentication</apigee:tag>
            </apigee:tags>
            <apigee:authentication required="false" />
            <doc apigee:url="http://api.mydomain.com/doc/my-method">login</doc>
         </method>
      </resource>
      
      <!-- access_s3_token -->
      <resource path="/api/v1/s3_token">
         <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="Accept" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="ftype" required="true" type="xsd:string" style="query" default="video" />
         <method id="access_s3_token" name="GET" apigee:displayName="Access S3 Token">
            <apigee:tags>
               <apigee:tag primary="true">Authentication</apigee:tag>
            </apigee:tags>
            <apigee:authentication required="false" />
            <doc apigee:url="http://api.mydomain.com/doc/my-method">access_s3_token</doc>
         </method>
      </resource>
      
      <!-- ##################### USERS ##################### -->
      
      <!-- update_profile -->
      <resource path="/api/v1/users">
         <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="Accept" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="name" required="false" type="xsd:string" style="query" />
         <param name="surname" required="false" type="xsd:string" style="query" />
         <param name="date_of_birth" required="false" type="xsd:date" style="query" />
         <param name="city" required="false" type="xsd:date" style="query" />
         <param name="photo_url" required="false" type="xsd:string" style="query" />
         <param name="fb_id" required="false" type="xsd:string" style="query" />
         <param name="paypal_account" required="false" type="xsd:string" style="query" />
         <param name="allow_dingo_emails" required="false" type="xsd:boolean" style="query" />
         <param name="allow_push_notifications" required="false" type="xsd:boolean" style="query" />
         <param name="disconnect_fb_account" required="false" type="xsd:boolean" style="query" />
         <method id="update_profile" name="POST" apigee:displayName="Update Profile">
            <apigee:tags>
               <apigee:tag primary="true">Users</apigee:tag>
            </apigee:tags>
            <apigee:authentication required="true" />
            <doc apigee:url="http://api.mydomain.com/doc/my-method">update_profile</doc>
         </method>
      </resource>
      
      <!-- ##################### VIDEOS ##################### -->
      
      <!-- get_videos -->
      <resource path="/api/v1/videos">
         <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="Accept" required="true" type="xsd:string" style="header" default="application/json" />
         <method id="get_videos" name="GET" apigee:displayName="Get Videos">
            <apigee:tags>
               <apigee:tag primary="true">Videos</apigee:tag>
            </apigee:tags>
            <apigee:authentication required="true" />
            <doc apigee:url="http://api.mydomain.com/doc/my-method">get_videos</doc>
         </method>
      </resource>
      
      <!-- create_video -->
      <resource path="/api/v1/videos">
          <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="title" required="true" type="xsd:string" style="query" default=""></param>
          <param name="receiver_id" required="false" type="xsd:integer" style="query" default=""></param>
          <method id="create_video" name="POST" apigee:displayName="Create Video">
              <apigee:tags>
                  <apigee:tag primary="true">Videos</apigee:tag>
              </apigee:tags>
              <apigee:authentication required="true"/>
              <doc apigee:url="http://api.mydomain.com/doc/my-method">create_video</doc>
          </method>
      </resource>
      
      <!-- update_video -->
      <resource path="/api/v1/videos/:id">
          <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="title" required="true" type="xsd:string" style="query" default=""></param>
          <param name="receiver_id" required="false" type="xsd:integer" style="query" default=""></param>
          <method id="update_video" name="PUT" apigee:displayName="Update Video">
              <apigee:tags>
                  <apigee:tag primary="true">Videos</apigee:tag>
              </apigee:tags>
              <apigee:authentication required="true"/>
              <doc apigee:url="http://api.mydomain.com/doc/my-method">update_video</doc>
          </method>
      </resource>
      
      <!-- ##################### CLIPS ##################### -->
      
      <!-- get_clips -->
      <resource path="/api/v1/clips">
         <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="Accept" required="true" type="xsd:string" style="header" default="application/json" />
         <method id="get_clips" name="GET" apigee:displayName="Get Clips">
            <apigee:tags>
               <apigee:tag primary="true">Clips</apigee:tag>
            </apigee:tags>
            <apigee:authentication required="true" />
            <doc apigee:url="http://api.mydomain.com/doc/my-method">get_clips</doc>
         </method>
      </resource>
      
      <!-- create_clip -->
      <resource path="/api/v1/clips">
          <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="video_id" required="true" type="xsd:string" style="query" default=""></param>
          <method id="create_clip" name="POST" apigee:displayName="Create Clip">
              <apigee:tags>
                  <apigee:tag primary="true">Clips</apigee:tag>
              </apigee:tags>
              <apigee:authentication required="true"/>
              <doc apigee:url="http://api.mydomain.com/doc/my-method">create_clip</doc>
          </method>
      </resource>
      
      <!-- update_clip -->
      <resource path="/api/v1/clips/:id">
          <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="url" required="false" type="xsd:string" style="query" default=""></param>
          <method id="update_clip" name="PUT" apigee:displayName="Update Clip">
              <apigee:tags>
                  <apigee:tag primary="true">Clips</apigee:tag>
              </apigee:tags>
              <apigee:authentication required="true"/>
              <doc apigee:url="http://api.mydomain.com/doc/my-method">update_clip</doc>
          </method>
      </resource>
      
      <!-- ##################### GROUPS ##################### -->
      
      <!-- get_groups -->
      <resource path="/api/v1/groups">
         <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json" />
         <param name="Accept" required="true" type="xsd:string" style="header" default="application/json" />
         <method id="get_groups" name="GET" apigee:displayName="Get Groups">
            <apigee:tags>
               <apigee:tag primary="true">Groups</apigee:tag>
            </apigee:tags>
            <apigee:authentication required="true" />
            <doc apigee:url="http://api.mydomain.com/doc/my-method">get_groups</doc>
         </method>
      </resource>
      
      <!-- create_group -->
      <resource path="/api/v1/groups">
          <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="video_id" required="true" type="xsd:string" style="query" default=""></param>
          <method id="create_group" name="POST" apigee:displayName="Create Group">
              <apigee:tags>
                  <apigee:tag primary="true">Groups</apigee:tag>
              </apigee:tags>
              <apigee:authentication required="true"/>
              <doc apigee:url="http://api.mydomain.com/doc/my-method">create_group</doc>
          </method>
      </resource>
      
      <!-- update_group -->
      <resource path="/api/v1/groups/:id">
          <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
          <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
          <method id="update_group" name="PUT" apigee:displayName="Update Group">
              <apigee:tags>
                  <apigee:tag primary="true">Groups</apigee:tag>
              </apigee:tags>
              <apigee:authentication required="true"/>
              <doc apigee:url="http://api.mydomain.com/doc/my-method">update_group</doc>
          </method>
      </resource>
      
      
      
   </resources>
</application>